.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-image: url(./helpers/Home.png);
}
.home-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}
.home-content h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0.25rem;
}
.home-content b {
  color: #e31b6d;
}
.home-button {
  position: relative;
  width: 11.5rem;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  margin: 1rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: thin solid white;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home-button:hover {
  background-color: #00a1a7;
  border: thin solid #00a1a7;
}
.arrow-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}
.arrow-button img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
}
.arrow-button:hover > img {
  transform: rotate(90deg);
}
